body {
    overflow-x: hidden;
    overflow-y: scroll;
}

#news_one_title {
    z-index: 100;
    position: absolute;
    color: white;
    font-size: 13px;
    font-weight: bold;
    left: 20px;
    top: 20px;
}

#news_one_text {
    z-index: 100;
    position: absolute;
    color: white;
    font-size: 13px;
    font-weight: bold;
    left: 20px;
    top: 40px;
    word-wrap: break-word;
}

#news_two_title {
    z-index: 100;
    position: absolute;
    color: white;
    font-size: 13px;
    font-weight: bold;
    left: 20px;
    top: 160px;
}

#news_two_text {
    z-index: 100;
    position: absolute;
    color: white;
    font-size: 13px;
    font-weight: bold;
    left: 20px;
    top: 180px;
    word-wrap: break-word;
}

#news_three_title {
    z-index: 100;
    position: absolute;
    color: white;
    font-size: 13px;
    font-weight: bold;
    left: 20px;
    top: 290px;
}

#news_three_text {
    z-index: 100;
    position: absolute;
    color: white;
    font-size: 13px;
    font-weight: bold;
    left: 20px;
    top: 310px;
    word-wrap: break-word;
}

#about_title {
    font-weight: bold;
    font-size: 45px;
}

#pas-div {
    text-align: center;
    background-image: url('http://127.0.0.1/ci_admin/uploads/products and services bg.png');
}

.img-responsive {
    -moz-border-radius: 10px;
    border-radius: 10px;
    border-color: white;
    background-color: white;
    color: white;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 6.3em;
    display: inline-block;
}

#careers-div {
    margin-top: 20px;
}

#first-par {
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    color: #ffa31a;
}

#second-par {
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}

.footer {
    background-color: #1b1b1b;
    background-image: -moz-linear-gradient(top, #222222, #111111);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#222222), to(#111111));
    background-image: -webkit-linear-gradient(top, #222222, #111111);
    background-image: -o-linear-gradient(top, #222222, #111111);
    background-image: linear-gradient(to bottom, #222222, #111111);
    background-repeat: repeat-x;
    border-color: #252525;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff222222', endColorstr='#ff111111', GradientType=0);
    height: 120px;
    color: white;
    text-align: center;
}

#careers-list{
    text-align: center;
}

#clients-div {
    text-align: center;
}
