<!DOCTYPE html>
<html>
<head>
  <title>Sections</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <script src="../js/section.js"></script>
</head>

<body>

      <nav class="navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">Sections</a>
          </div>
        </div>
      </nav>
        
      <div class="container">

        <br />

          <h2><span class="label label-primary">Choose Section:</span></h2>

        <br />

          <input onblur="search($('#tags').val())" id="tags" style="width:300px" type="text" class="form-control" placeholder="Search section here and press enter...">
           
          <br />
          

        <center>
          <table class="table table-striped">
            <thead>
              <th>Subject</th>
              <th>Description</th>
            </thead>
            <tbody id="table-tbody">
            </tbody>
          </table>
        </center>

      </div>

      <!-- Dialog -->
      <div id="dialog" title="Basic dialog">
        
        <table class="table table-striped">
          <thead>
            <th>Student ID</th>
            <th>Student Name</th>
          <thead>
          <tbody id="student-table">
          </tbody>

        </table>

      </div>

</body>
</html>
